In [1]:
import pandas as pd
df1 = pd.read_csv('all_fight_odds_914_1.csv')
df2 = pd.read_csv('all_fight_odds_914_2.csv')
df3 = pd.read_csv('all_fight_odds_914_3.csv')
df4 = pd.read_csv('all_fight_odds_914_4.csv')
df5 = pd.read_csv('all_fight_odds_914_5.csv')
df6 = pd.read_csv('all_fight_odds_914_6.csv')
df6 = pd.read_csv('all_fight_odds_914_6.csv')
# missing_fights_916
# Concatenate the DataFrames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6])

# Drop duplicate rows
combined_df = combined_df.drop_duplicates()

# Reset the index
combined_df = combined_df.reset_index(drop=True)

# Display the final DataFrame
print(len(combined_df))
# df.head()

12397

In [2]:
combined_df.head()

,Fighter,Fighter Odds,Opponent,Opponent Odds,Event,Date
0,Hunter Azure,-185.0,Cole Smith,160.0,UFC on ESPN+ 34: Overeem vs. Sakai,Sep 5th 2020
1,Hunter Azure,-200.0,Brian Kelleher,170.0,UFC on ESPN+ 29: Smith vs. Teixeira,May 13th 2020
2,Hunter Azure,145.0,Brad Katona,-185.0,UFC on ESPN+ 16: Cowboy vs. Gaethje,Sep 14th 2019
3,Hunter Azure,130.0,Jack Shore,-150.0,UFC on ABC 2: Vettori vs. Holland,Apr 10th 2021
4,Bartosz Fabinski,-140.0,Andre Muniz,120.0,UFC on ESPN+ 34: Overeem vs. Sakai,Sep 5th 2020

In [3]:
# Sort rows to ensure consistent ordering
df_sorted = combined_df.sort_values(by=['Date', 'Fighter', 'Opponent']).reset_index(drop=True)

# Create a boolean mask to identify duplicates based on the condition
duplicates_mask = (
    (df_sorted['Fighter'] == df_sorted['Opponent'].shift()) &
    (df_sorted['Opponent'] == df_sorted['Fighter'].shift()) &
    (df_sorted['Date'] == df_sorted['Date'].shift())
)

# Filter the DataFrame to remove duplicates
df_no_duplicates = df_sorted[~duplicates_mask].reset_index(drop=True)

# Display the DataFrame without duplicates
print(df_no_duplicates)
print(len(df_no_duplicates))

                    Fighter  Fighter Odds           Opponent  Opponent Odds  \
0      Alexander Gustafsson         340.0         Phil Davis         -465.0
1            Anderson Silva        -560.0        Demian Maia          405.0
2            Brad Blackburn        -170.0  Damarques Johnson          140.0
3               Demian Maia         405.0     Anderson Silva         -560.0
4             Frankie Edgar         525.0          B.J. Penn         -750.0
...                     ...           ...                ...            ...
11825  Valentina Shevchenko        -130.0       Amanda Nunes          100.0
11826           Wilson Reis         300.0       Henry Cejudo         -420.0
11827       Gabriel Miranda         128.0        Shane Young         -155.0
11828        Kiefer Crosbie         110.0      Kevin Jousset         -135.0
11829           Shane Young        -155.0    Gabriel Miranda          128.0

                                 Event           Date
0                  UFC 112: Invincible  Apr 10th 2010
1                  UFC 112: Invincible  Apr 10th 2010
2                  UFC 112: Invincible  Apr 10th 2010
3                  UFC 112: Invincible  Apr 10th 2010
4                  UFC 112: Invincible  Apr 10th 2010
...                                ...            ...
11825  UFC 215: Nunes vs. Shevchenko 2   Sep 9th 2017
11826  UFC 215: Nunes vs. Shevchenko 2   Sep 9th 2017
11827                          UFC 293   Sep 9th 2023
11828                          UFC 293   Sep 9th 2023
11829                          UFC 293   Sep 9th 2023

[11830 rows x 6 columns]
11830

In [4]:
df = df_no_duplicates

In [5]:
# df = df_no_duplicates
# Combine the 'Fighter' and 'Opponent' columns
combined_names = pd.concat([df['Fighter'], df['Opponent']])

# Get unique names
unique_names = combined_names.unique()

# Convert to a list (optional)
unique_names_list = list(unique_names)

In [6]:
df.head()

,Fighter,Fighter Odds,Opponent,Opponent Odds,Event,Date
0,Alexander Gustafsson,340.0,Phil Davis,-465.0,UFC 112: Invincible,Apr 10th 2010
1,Anderson Silva,-560.0,Demian Maia,405.0,UFC 112: Invincible,Apr 10th 2010
2,Brad Blackburn,-170.0,Damarques Johnson,140.0,UFC 112: Invincible,Apr 10th 2010
3,Demian Maia,405.0,Anderson Silva,-560.0,UFC 112: Invincible,Apr 10th 2010
4,Frankie Edgar,525.0,B.J. Penn,-750.0,UFC 112: Invincible,Apr 10th 2010

In [7]:
# df = df[df['Event'].str.contains('UFC', na=False)]

In [8]:
print(len(unique_names_list))

2357

In [9]:
import pandas as pd
dff = pd.read_csv('all_fighters.csv')
print(len(dff))
dff.head()

4222

,First,Last,Nickname,Ht,Wt,Reach,Stance,W,L,D,...,SLpM,Str. Acc.,SApM,Str. Def,Unnamed: 15,TD Avg.,TD Acc.,TD Def.,Sub. Avg.,DOB
0,Hunter,Azure,NaN,"5' 8""",145 lbs.,"69.0""",Orthodox,9,2,0,...,3.92,53%,2.08,58%,NaN,1.97,34%,67%,1.3,"Mar 02, 1992"
1,Bartosz,Fabinski,The Butcher,"6' 0""",170 lbs.,"75.0""",Orthodox,15,5,0,...,2.23,68%,1.46,51%,NaN,7.10,70%,80%,0.0,"Apr 26, 1986"
2,Wagnney,Fabiano,The Silencer,"5' 6""",145 lbs.,"69.0""",Southpaw,16,4,0,...,1.19,38%,0.66,70%,NaN,3.44,64%,100%,0.4,"Jul 14, 1975"
3,Marcos,da Matta,Parrumpinha,"5' 4""",145 lbs.,--,NaN,11,3,0,...,0.00,0%,0.00,0%,NaN,0.00,0%,0%,0.0,"Mar 18, 1973"
4,Brandon,Davis,Killer B,"5' 10""",135 lbs.,"72.0""",Orthodox,14,10,0,...,4.68,35%,4.62,58%,NaN,0.74,42%,57%,0.1,"May 08, 1990"

In [7]:
df.to_csv("combined_fight_odds_916.csv")

In [19]:
names = pd.read_csv('fighter_names.csv')

In [20]:
print(len(names))

4222

In [21]:
# Combine Fighter and Opponent into one set of unique fighters
existing_fighters = set(df['Fighter']).union(set(df['Opponent']))

names['Name'] = names['Name'].str.replace('-', ' ')

# Find fighters in names that are not in the first dataframe
missing_fighters = names[~names['Name'].isin(existing_fighters)]

# Replace hyphens with spaces in the 'Name' column
# missing_fighters['Name'] = missing_fighters['Name'].str.replace('-', ' ')

# Create new dataframe with missing fighters
missing_fighters_df = pd.DataFrame(missing_fighters)

missing_fighters_df['Name'] = missing_fighters_df['Name'].str.replace(' ', '-')

print(missing_fighters_df)

      Unnamed: 0               Name
2              2    Wagnney-Fabiano
3              3    Marcos-da-Matta
5              5        Dave-Galera
7              7      Devin-Johnson
8              8         Nate-James
...          ...                ...
4215        4215      Oleg-Taktarov
4216        4216      Murtaza-Talha
4217        4217    Makoto-Takimoto
4218        4218  Yoshiki-Takahashi
4219        4219    Nobuhiko-Takada

[2175 rows x 2 columns]

In [22]:
# Drop 'Unnamed: 0' column
missing_fighters_df = missing_fighters_df.drop('Unnamed: 0', axis=1)

print(missing_fighters_df)

                   Name
2       Wagnney-Fabiano
3       Marcos-da-Matta
5           Dave-Galera
7         Devin-Johnson
8            Nate-James
...                 ...
4215      Oleg-Taktarov
4216      Murtaza-Talha
4217    Makoto-Takimoto
4218  Yoshiki-Takahashi
4219    Nobuhiko-Takada

[2175 rows x 1 columns]

In [23]:
missing_fighters_df.to_csv("missing_fighters_916.csv")